SimpleDemo/Service References/WebAPI/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="init">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jkxlh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="initResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="init1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jczbh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jcxdh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zdlx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="init1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="init1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sqsq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zdlx" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sqsqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqsqResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="initSoapIn">
    <wsdl:part name="parameters" element="tns:init" />
  </wsdl:message>
  <wsdl:message name="initSoapOut">
    <wsdl:part name="parameters" element="tns:initResponse" />
  </wsdl:message>
  <wsdl:message name="init1SoapIn">
    <wsdl:part name="parameters" element="tns:init1" />
  </wsdl:message>
  <wsdl:message name="init1SoapOut">
    <wsdl:part name="parameters" element="tns:init1Response" />
  </wsdl:message>
  <wsdl:message name="sqsqSoapIn">
    <wsdl:part name="parameters" element="tns:sqsq" />
  </wsdl:message>
  <wsdl:message name="sqsqSoapOut">
    <wsdl:part name="parameters" element="tns:sqsqResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">初始化</wsdl:documentation>
      <wsdl:input message="tns:initSoapIn" />
      <wsdl:output message="tns:initSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="init1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">初始化</wsdl:documentation>
      <wsdl:input message="tns:init1SoapIn" />
      <wsdl:output message="tns:init1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sqsq">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">申请授权</wsdl:documentation>
      <wsdl:input message="tns:sqsqSoapIn" />
      <wsdl:output message="tns:sqsqSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <soap:operation soapAction="http://tempuri.org/init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init1">
      <soap:operation soapAction="http://tempuri.org/init1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sqsq">
      <soap:operation soapAction="http://tempuri.org/sqsq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <soap12:operation soapAction="http://tempuri.org/init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init1">
      <soap12:operation soapAction="http://tempuri.org/init1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sqsq">
      <soap12:operation soapAction="http://tempuri.org/sqsq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:4533/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:4533/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>